# tuple

In [9]:
t1=('python','tuple','ordered','collection')#immutable
print(t1[0:3])
print(t1.index('ordered'))
print(t1.count('ordered'))
print(t1+(3,4,5))
for item in t1:
    print(item)

('python', 'tuple', 'ordered')
2
1
('python', 'tuple', 'ordered', 'collection', 3, 4, 5)
python
tuple
ordered
collection

In [46]:
t1=('pranav','aaditya','yash')
t2=('ffff','gggg','hhh')
t3=('200 rupees','no','sasti hai bohot')
zipped=zip(t1,t2,t3)
t4=tuple(zipped)
print(t4)

(('pranav', 'ffff', '200 rupees'), ('aaditya', 'gggg', 'no'), ('yash', 'hhh', 'sasti hai bohot'))

# SETS

In [20]:
days = set(["monday","tuesday","wednesday","thursday"]) 
print(days)
days.add("friday")
print(days)
days.update(["saturday","sunday"])
print(days)
days.remove(("monday"))
print(days)
days.pop()
print(days)

{'tuesday', 'thursday', 'monday', 'wednesday'}
{'monday', 'wednesday', 'tuesday', 'thursday', 'friday'}
{'monday', 'wednesday', 'tuesday', 'sunday', 'thursday', 'friday', 'saturday'}
{'wednesday', 'tuesday', 'sunday', 'thursday', 'friday', 'saturday'}
{'tuesday', 'sunday', 'thursday', 'friday', 'saturday'}

In [25]:
days=set(["monday","tuesday","wednesday","thursday"])
days1=set(["monday","tuesday","wednesday","thursday","saturday","sunday"])
print(days|days1)
print(days&days1)
print(days1-days)
print(days^days1)

{'monday', 'wednesday', 'tuesday', 'sunday', 'thursday', 'saturday'}
{'tuesday', 'thursday', 'monday', 'wednesday'}
{'sunday', 'saturday'}
{'sunday', 'saturday'}

# dictionary

In [44]:
dict={"name":"john","age":"49","salary":"1lakh","company":"google"}
print(dict)
var1=dict.pop("name")
print(dict)
for i in dict.values():
    print(i)
for i in dict.items():
    print(i)
r1=len(dict)
print(r1)
str(dict)

{'name': 'john', 'age': '49', 'salary': '1lakh', 'company': 'google'}
{'age': '49', 'salary': '1lakh', 'company': 'google'}
49
1lakh
google
('age', '49')
('salary', '1lakh')
('company', 'google')
3

"{'age': '49', 'salary': '1lakh', 'company': 'google'}"

In [37]:
for i in dict:
    print(i)
for i in dict:
    print(dict[i])

age
salary
company
49
1lakh
google

# skyvalues

In [45]:
#a=97
#A=65

# array and lists

In [8]:
list={"e","s","dd","ff"}
list.insert(1,"pg")
print(list)

AttributeError: 'set' object has no attribute 'insert'